<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Sign Up</title>
</head>
<body>

    <h1>Es hora de registrarse </h1>
    <br>
    
    <form id = "formulario-nuevo">

        <label >Tu Nombre:</label>
        <input type="text" id="nombre" placeholder="tu nombre" required>
        <br>
        <label >Tu Telefono:</label>
        <input type="text" id="telefono" placeholder="+504 8950-0088" required>
        <br>
        <label >Escribe tu Nombre de Usuario:</label>
        <input type="text"id = "usuario" placeholder="kevstpg"  required>
        <br>
        <label>Tu Contrasena: </label>
        <input type="password" id="contrasena" required>
        <br>
        <button type="submit">Registrarse</button>


    </form>

    <p id="bienvenida"></p>

    <a href="/">Volver a Inicio</a> <br>
    <a href="/iniciar_sesion">Ya tienes cuenta? Logueate aqui!</a>
    <script>

        document.getElementById("formulario-nuevo").addEventListener( "submit", async function (e){
 e.preventDefault();
 const nombre = document.getElementById("nombre").value;
 const telefono = document.getElementById("telefono").value;
 const usuario = document.getElementById("usuario").value;
 const contrasena = document.getElementById("contrasena").value;
 const respuesta = await fetch("http://127.0.0.1:8000/sign_up",{
     method: "POST",
     headers: { "Content-Type": "application/json" },
     body: JSON.stringify({nombre: nombre, telefono: telefono, usuario: usuario, contrasena: contrasena })
 });
 const datos_recibidos = await respuesta.json();
 if (respuesta.ok){
    // Guardamos el mensaje en la "cajita" del navegador (sessionStorage)
    // para poder leerlo despues en interface.html
    sessionStorage.setItem("mensajeBienvenida", datos_recibidos.mensaje);
    // Redirigir a interface
    window.location.href = "/interface";
 } else{
    document.getElementById("bienvenida").innerText = "Error: " + JSON.stringify(datos_recibidos.detail);
    document.getElementById("bienvenida").style.color = "red";
 }
});


    </script>



    
</body>
</html>