<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Sign Up</title>
</head>
<body>

    <h1>Es hora de registrarse </h1>
    <br>
    
    <form id = "formulario-nuevo">

        <label >Tu Nombre:</label>
        <input type="text" id="nombre" placeholder="tu nombre" required>
        <br>
        <label >Tu Telefono:</label>
        <input type="text" id="telefono" placeholder="+504 8950-0088" required>
        <br>
        <label >Escribe tu Nombre de Usuario:</label>
        <input type="text"id = "usuario" placeholder="kevstpg"  required>
        <br>
        <label>Tu Contrasena: </label>
        <input type="password" id="contrasena" required>
        <br>
        <button type="submit">Registrarse</button>


    </form>

    <p id="bienvenida"></p>

    <a href="/">Volver a Inicio</a> <br>
    <a href="/iniciar_sesion">Ya tienes cuenta? Logueate aqui!</a>


    
</body>
</html>